body {
  font-family: 'Cormorant Upright', serif;
  font-size: 18px;
  background-color: whitesmoke;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 0.5rem;
}

h3 {
  text-transform: uppercase;
  font-size: 1rem;
}

section {
  margin-top: 1rem;
}

ul {
  padding-left: 1rem;
}

li {
  list-style: none;
}

a {
  color: black;
}

footer {
  margin-top: 5rem;
}

#search {
  display: none;
}

#insights {
  display: none;
}

#rums {
  display: none;
}

.module {
  display: none;
}

.drink {
  margin-bottom: 2rem;
}

.stock {
  display: none;
}

.ingredients {
  text-indent: 1rem;
  margin-top: 0;
}

.page {
  font-size: 1.25rem;
}

.origin {
  font-size: 0.9rem;
  font-style: italic;
}

#rums ul {
  padding: 0;
}
